@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background: #fff url('back.jpg')  no-repeat  fixed center;}

/* .invisible-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 200px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

nav{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 1000;
    /* margin-bottom: 20px; */
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

nav ul li{
    padding: 0 12px;
}
/* .brand img{
    width: 44px;
    padding: 0 8px;
} */

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    background-position: center;
    background-size: cover;

}
.logoicon{
  width: 70px;
  height: auto;
}
.logo{
  width: 100px;
  height: auto;
  filter: invert(1);
}

#container{ background-color: rgba(0, 0, 0, 0.5);
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2%;
   border-radius: 12px;
   background-image: url('bg.jpg');
}
#main-container{
  margin-top: -20px;
   width: 99vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

 }

.bottom{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}


.songItem{
    height: 60px;padding-right: 20px;
    display: flex;
    background-color: rgb(215, 215, 215,0.8);
    width: 20vw;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    cursor: pointer;
    text-align: center;
}

.songItem.hover{
    background-color: #4e00c2;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songList{
max-height: 500px;
display: flex;
gap: -20px;
flex-direction: column;
overflow-y: scroll;
margin-left: 20px;
padding-left: 20px;
padding-right: 20px;
}

/* /////////////////card css */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 50vh;
    --card-width: calc(var(--card-height)/1.4 );
  }
.card {
    background: #191c29;
  width: var(--card-width);
    height: var(  --card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    margin-left: 20px;
  }
  .card img{
  
  width: 100%;
  height: auto;
   
  }
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #c20000);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
  #main{
    background-size: cover;
    }
    
    @media screen and (max-width:800px) {
      /* .card{
        "order: 1"
      } */
      .card {
        background: #191c29;
        width: var(--card-width);
        height: var(--card-height);
        padding: 3px;
        position: relative;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        font-size: 1.5em;
        color: rgb(88 199 250 / 0%);
        cursor: pointer;
        font-family: cursive;
      }
      #main-container{
        margin-top: -10px;
        height: auto;
        margin-bottom: 150px;
      }
#container{
 font-family: 'Varela Round', sans-serif;

 flex-direction: column;
margin-top: 100px;
 width: 80%;
 
}
.card{
  order:1;
  margin-left: 0;
}
.song{
  order: 2;
}

.icons{
  margin-top: 14px; 
}
.icons i{
  cursor: pointer;
  font-size: 20px;
}


.songItem{
  order: 2;
  height: 45px;padding-right: 20px;
  width: 90%;

}

.songItem img{
  width: 40px;
  margin: 0 23px;
  border-radius: 34px;
}



.songInfo{
  position: absolute;
  left:4%;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img{
  opacity: 0;

  padding-top: 50px;
  width: 120px;
  transition: opacity 0.4s ease-in;
}
nav ul {
  padding: 0 0px;
}
    }